<div class="row">
    <div class="col-md-12">
        You have reached the end of the internet!
    </div>
    <div class="col-md-12">
        Go back <a asp-controller="ColorfulLists" asp-action="Index">home</a>
    </div>
</div>