@using ColorfulListWebApp.Data.ViewModels
@model IEnumerable<ColorfulListVM>

@{
    ViewData["Title"] = "Home";
}

<div class="row" align="center">
    @foreach (var item in Model)
    {
        <div class="col-md-3 col-sm-6 col-xs-12 m-2">
            <div class="card" style="width: 18rem; background-color:@item.BgColor; color:@item.TextColor;">
                <div class="card-body">
                    <h5 class="card-title">@item.Name</h5>
                    <h6 class="card-subtitle mb-2 text-muted">by <a href="#">Author</a></h6>
                    <p class="card-text">@item.Description</p>
                    <a asp-action="View" asp-route-id="@item.Id" class="card-link">Go To List</a> |
                    <a asp-action="Edit" asp-route-id="@item.Id" class="card-link">Edit</a>
                </div>
            </div>
        </div>
    }
</div>